.headerMintBtn{
    text-align: center;
    padding: 2px 40px!important;
    background: linear-gradient(80.82deg, #0041FF -5.86%, #3BEDF9 130.99%)!important;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #3b5dc2;
    cursor: pointer;
}
.headerMintBtn:hover{
    background-color: linear-gradient(130.99deg, #3BEDF9 -5.86%, #0041FF 130.99%)!important;
    transition: .10s ease-in-out!important;
}

.headerMintBtn>a>span{
    background:transparent;
    font-size: 14px;
    line-height: 0!important;
}

.header{
    position: absolute;
    width: 100%;
    background: transparent;
    z-index: 99;
}
.NavbarItems{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;

    .navbar-logo{
        justify-self: start;
        cursor: pointer;
    }
    .menu-icon{
        display: none;
    }
    .nav-menu{
        display: grid;
        grid-template-columns: repeat(3,auto);
        text-align: center;
        display: flex;
        align-items: center;
        width: 70vw;
        justify-content: end;
        background: transparent;
        li{
            padding-left: 40px;
            background: transparent;
            @media (max-width:991.99px) {
                padding-left: 0px;
                padding-bottom: 20px;
            }
        }
    }
}
.divide_header{
    display: none;
}

@media screen and (max-width: 991px){
    .NavbarItems{
        position: relative;
        margin-top: 15px;
        z-index: 9;
        .navbar-logo{
            position: absolute;
            top: 8px;
            left: 20px;
            width: 180px;
        }
        .menu-icon{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-100%, 70%);
            padding-top: 15px;
            z-index: 99;
            .hamburber{
                width: 25px;
                height: 3px;
                background: #3BEDF9;
                border-radius: 5px;
                transition: all 0.5s ease-in-out;
                &::before {
                  content: '';
                  position: absolute;
                  width: 25px;
                  height: 3px;
                  background: #3BEDF9;
                  border-radius: 5px;
                  transition: all 0.5s ease-in-out;
                  transform: translateY(-10px);
                }
                &::after {
                  content: '';
                  position: absolute;
                  width: 25px;
                  height: 3px;
                  background: #3BEDF9;
                  border-radius: 5px;
                  transition: all 0.5s ease-in-out;
                  transform: translateY(10px);
                }
              }
            .closeHamburger {
                width: 25px;
                height: 3px;
                border-radius: 5px;
                transform: translateX(-50px);
                background: transparent;
                transition: all 0.5s ease-in-out;
                &::before {
                  content: '';
                  position: absolute;
                  width: 25px;
                  height: 3px;
                  background: #3BEDF9;
                  border-radius: 5px;
                  transition: all 0.5s ease-in-out;
                  transform: rotate(45deg) translate(35px, -35px);
                }
                &::after {
                  content: '';
                  position: absolute;
                  width: 25px;
                  height: 3px;
                  background: #3BEDF9;
                  border-radius: 5px;
                  transition: all 0.5s ease-in-out;
                  transform: rotate(-45deg) translate(35px, 35px);
                }
            }
        }
        .nav-menu{
            display: flex;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 0;
            left: -100%;
            opacity: 1;
            transition: all 0.5s ease;
        }
        .nav-menu.active{
            @media (max-width:991.99px) {
                .divide_header{
                    display: unset;
                    width: 80%;
                    margin: auto;
                }
            }
            background-image: url(../../Assets/Images/bg-main.png);
            box-shadow: #3bedf9;
            left: 0;
            opacity: 1;
            transition: all 0.5s ease;
            li{
                .mb_button {
                    padding: 0;
                    border: 0;
                    background: transparent;
                    font-weight: 700;
                }
            }
            .mint-nft{
                margin-top: 30px;
            }
            .blaziverse_link{
                margin-bottom: -20px;
                margin-top: 20px;
                @media screen and (max-width: 991px){
                    margin-bottom: 4px;
                }
            }
            .litepaper_link{
                margin-top: -10px;
                margin-bottom: 20px;
                @media screen and (max-width: 991px){
                    margin-top: 24px;
                }
            }
        }
    }
}
@media screen and (max-width: 575.99px){
    .NavbarItems{
        margin-top: 0px;
    }
}