.MetaGoblinGallery-Section{
    margin-bottom: 120px;
    @media (max-width:595.98px) {
        margin-bottom: 50px;
    }
    .metaGoblin_gallery{ 
        width: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        text-align: center;
        padding-top:200px;
        padding-bottom: 130px;
        background-image: url(../../Assets/Images/bg-metagoblingallery.png);
        height: 100%;
        @media (max-width:991.98px) {
            padding-top:100px;
        }
        @media (max-width:767.98px) {
            padding-bottom: 100px;
        }
        @media (max-width:575.98px) {
            padding-bottom: 50px;
        }
        .metaGoblin_nftGalelry{
            position: relative;
            width: 100%;
            margin-bottom: 50px;
            @media (max-width:991.98px) {
                display: none;
            }
        }
        .metaGoblin_nftGalelryMobile{
            position: relative;
            display: none;
            @media (max-width:991.98px) {
                height: 120px;
                display: unset;
                margin-bottom: 40px;
                z-index: 1;
            }
            @media (max-width:595.98px) {
                height: 80px;
            }
            @media (max-width:424.98px) {
                width: 100%;
                height: auto;
            }
        }
        .home_mb_button{
            display: none;
            position: relative;
            z-index: 0;
            @media (max-width:991.98px) {
                display: unset;
                padding: 20px 30px;
            }
        }
    }
    .metaGoblin_cards{
        margin: 0 auto;
        @media (max-width:991.98px) {
            margin: 50px auto 0 auto;
        }
        @media (max-width:768.98px) {
            margin: 40px auto 0 auto;
        }
        .imgWidth{
            cursor: pointer;
            width: 100%;
            @media (max-width:768.98px) {
                transform: scale(0.9);
            }
            @media (max-width:499.98px) {
                width: 100%;
                margin: 0 auto;
            }
        }
        .middleGoblin{
            cursor: pointer;
            width: 90%;
            padding-left: 30px;
            padding-top: 30px;
            @media (max-width:991.98px) {
                transform: scale(0.9);
            }
            @media (max-width:768.98px) {
                width: 100%;
                transform: scale(0.98);
                padding-top: 10px;
                padding-left: 20px;
            }
            @media (max-width:499.98px) {
                margin: 0 auto;
                transform: scale(0.9);
                padding-left: 0px;
                padding-top: 0px;
            }
        }
    }
    .discoverMetaGoblin{
        background-image: url(../../Assets/Images/bg-discoverMetaGoblin.png);
        margin-top: 20px;
        @media (max-width:425.98px) {
            background-image: url(../../Assets/Images/bg-discoverMetaGoblin-mobile.png);
            background-repeat: no-repeat;
        }
        text-align: center;
        height: auto;
        position: relative;
        .discover_txt{
            padding-top: 150px;
            @media (max-width:1199.98px) {
                width: 75%;
                padding-top: 100px;
            }
            @media (max-width:595.98px) {
                display: none;
            }
        }
        .discover_txtMobile{
            display: none;
            margin-top: 100px;
            height: 150px;
            @media (max-width:595.98px) {
                display: unset;
            }
            @media (max-width:768.98px) {
                margin-top: 100px;
            }
            @media (max-width:599.98px) {
                height: 120px;
                margin-top: 0px;
            }
            @media (max-width:339.98px) {
                height: 100px;
            }
        }
        .discoverParagraph{
            margin: 60px auto;
            width: 700px;
            @media (max-width:1100.98px) {
                width: 70%;
            }
            @media (max-width:768.98px) {
                text-align: justify;
            }
            @media (max-width:499.98px) {
                margin: 40px auto;
                width: 90%;
            }
        }
        .buttonVideo{
            margin-bottom: 80px;
            .btn_video{
                padding: 13px 30px;
                cursor: pointer;
                img{
                    padding-right: 10px;
                    padding-bottom: 4px;
                }
            }
        } 
        .left_discoverGoblin, .right_discoverGoblin{
            position: absolute;
            bottom: 0;
            z-index: -1;
            height: 500px;
        }
        .left_discoverGoblin{
            transform: scaleX(-1);
            left: 0;
            @media (max-width:991.98px) {
                display: none;
            }
        }
        .right_discoverGoblin{
            right: 0;
            @media (max-width:991.98px) {
                transform: scaleX(-1);
                right: 0;
                opacity: 0.6;
                height: 250px;
            }
        }
    }
    .divideLineMG{
        margin-top: -30px;
        width: 100%;
    }
}