.VideoSlider{
    position: relative;
    text-align: center;
    z-index: 99;
    margin-top: -110px;
    margin-bottom: 200px;
    @media (max-width:569.98px) {
      margin-bottom: 150px;
    }
    @media (max-width:575.98px){
      .video-container{
        padding: 0px;
        .threekingVideo{
          .video{
            width: 100% !important;
            margin: 0;
        
          }
        }
      }
    
    }
    .video_leftBlob, .videoGrid{
        left: 0;
        top: -45%;
        z-index: -1;
        @media (max-width:569.98px) {
          top: -65%;
        }
    }
    .videoGrid{
      @media (max-width:429.98px) {
        top: -100%;
        left: -240px;
      }
    }
    .video_leftBlob{
      @media (max-width:569.98px) {
        display: none;
      }
    }
    .videos_tittle{
        padding-bottom: 30px;
        width: 100%;
        @media (max-width:1119.98px) {
          padding-bottom: 20px;
          height: 120px;
        }
        @media (max-width:991.98px) {
          display: none;
        }
    }
    .videos_tittle_mobile{
      display: none;
      @media (max-width:991.98px) {
        display: unset;
        width: 70%;
        padding-bottom: 20px;
      }
      @media (max-width:599.98px) {
        width: 100%;
      }
    }
    .rewards{
      padding-bottom: 60px;
      @media (max-width:569.98px) {
        padding-bottom: 30px;
      }
      .rewards_bold{
        font-weight: bold;
        background: transparent;
      }
    }
}